@font-face {
    font-family: "Orbitron";
    src: url("../Fonts/Orbitron/Orbitron-VariableFont_wght.ttf");
}
@font-face {
    font-family: "Pacifico";
    src: url("../Fonts/Pacifico-Regular.ttf");
}
.think{
    font-family:'Pacifico';
}
.text{
    font-family: 'Orbitron';
    font-display: swap;
}
.landing{
    background-image: url(../Assets/sky3.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    position: relative;
    
}
.stars1{
    background-image: url(../Assets/stars.webp);
    height:100vh;
}

.logo {
    position: absolute;
    top: 15%;
    left:7%;
    margin-left: 5%;
    transform: translate(-50%, -50%);
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    font-size:4vw;
  }
  .instagram{
    position: absolute;
    top:30%;
    right:3%;
}
.facebook{
    position: absolute;
    top:40%;
    right:3%;
}
.linkedin{
    position: absolute;
    top:50%;
    right:3%;
}

.youtube{
    position: absolute;
    top:60%;
    right:3%;
}

.centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  }
@media only screen and (max-width: 500px) {
    .instagram .facebook .linkedin .youtube{
        display:none;
    }
  }