@font-face {
  font-family: "Orbitron";
  src: url("../Fonts/Orbitron/Orbitron-VariableFont_wght.ttf");
}


.text{
  font-family: 'Orbitron';
  font-display: swap;
}

.teams{
    color:white;
    font-family: 'Orbitron';
    font-weight: 500;
    font-size:5vw;
    text-align: center;
    font-display: swap;
}
.hovercard:hover{
    -ms-transform: scale(1.3); /* IE 9 */
  -webkit-transform: scale(1.3); /* Safari 3-8 */
  transform: scale(1.3); 
  z-index: 1;
}

